<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="/project.min.css" rel="stylesheet">
    <title>My Website</title>
    
  </head>
  <body>
    <main>
      <div class="bg-image" style = "background-image:url( '/background.jpg');min-height:100vh; height: 100% ;width:100vw;background-size: cover; 
                        background-position: center;">
        <div class="container-lg text-light text-center overflow-auto bg-primary bg-opacity-50">
          <h1 class="bg-secondary my-5">Welcome to Project <%=locals.name%></h1>
          <form action="/project/<%=locals.name%>" method="POST">
            <h3>Project Details</h3>
            <%let term=new Date(parseInt(locals.term));%>
            <input class="form-control text-light w-auto d-inline" type="text" name="Proj_Name" value="<%=locals.name%>"/>
            <input class="form-control text-light w-auto d-inline" type="text" name="NTE_AMT" value=<%=locals.NTE || ""%>>
            <input class="form-control text-light w-auto d-inline" type="text" name="Term" value="<%=term.toLocaleDateString() %>">
            <input class="form-control text-light w-auto d-inline" type="text" name="PrcsNum" value=<%=locals.purchase || ""%>>
            <div class="container-lg my-5">
              <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#consTable" role="button" aria-expanded="true" aria-controls="consTable"><h3>Consultant Info </h3></button>
              <div class="collapse show"  id="consTable">
                <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Consultant</th>
                          <th>Placement</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Recruiter</th>
                          <th>Bill Rate</th>
                          <th>Pay Rate</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% if(locals.consults){locals.consults.forEach((con)=> { 
                          let start=new Date(parseInt(con.Start_Date));
                          let end=new Date(parseInt(con.End_Date));%>
                      <tr>
                          <td><input class="form-control text-light w-auto" type="text" name="Consultant" value="<%=con.ConsultantFN +' '+ con.ConsultantLN%>"></td>
                          <td><input class="form-control text-light w-auto" type="text" name="Placement" value="<%=con.Placement%>"></td>
                          <td><input class="form-control text-light w-auto" type="text" name="StartDate" value="<%=start.toLocaleDateString()%>"></td>
                          <td><input class="form-control text-light w-auto" type="text" name="EndDate" value="<%=end.toLocaleDateString()%>"></td>
                          <td><input class="form-control text-light w-auto" type="text" name="Recruiter" value="<%=con.Recruiter%>"></td>
                          <td><input class="form-control text-light w-auto" type="text" name="Bill_Rate" value="<%=con.Bill_Rate%>"></td>
                          <td><input class="form-control text-light w-auto" type="text" name="Pay_Rate" value="<%=con.Pay_Rate%>"></td>
                          <td><button class="delete-row btn btn-primary" type="button"  data-id="<%= con.Placement %>">X</button></td>
                      </tr>
                      <%})};%>
                  </tbody>
                </table>
                <button type="button" onclick="addConsRow()" class="btn btn-primary">New Consultant</button>
              </div>
            </div>
            <div class="container-lg my-5">
              <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#invsTable" role="button" aria-expanded="true" aria-controls="invsTable"><h3>Invoices</h3></button>
              <div class="collapse show" id="invsTable">
              <table class="table">
                <thead>
                  <tr>
                      <th>Invoice Num</th>
                      <th>Anticipated Date</th>
                      <th>Billables</th>
                      <th>Expense</th>
                      <th>Surplus</th>
                      <th>Sent Accounting</th>
                      <th>Sent Coupa</th>
                      <th>Coupa Num</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(locals.invs){locals.invs.forEach((inv)=> {
                      let ant=new Date(parseInt(inv.Anticipated));
                      let acc=new Date(parseInt(inv.Sent_Accounting));
                      let coup=new Date(parseInt(inv.Sent_Coupa));%>
                  <tr>
                      <td><input class="form-control text-light w-auto" type="text" name="InvoiceNum" value="<%=inv.InvoiceNum%>"></td>
                      <td><input class="form-control text-light w-auto" type="text" name="Anticipated_Date" value="<%=ant.toLocaleDateString()%>"></td>
                      <td><input class="form-control text-light w-auto" type="text" name="Billables" value="<%=inv.Billables%>"></td>
                      <td><input class="form-control text-light w-auto" type="text" name="Expenses" value="<%=inv.Expenses%>"></td>
                      <td><input class="form-control text-light w-auto" type="text" name="Surplus" value="<%=inv.Surplus%>"></td>
                      <td><input class="form-control text-light w-auto" type="text" name="Sent_Accounting" value="<%=acc.toLocaleDateString()%>"></td>
                      <td><input class="form-control text-light w-auto" type="text" name="Sent_Coupa" value="<%=coup.toLocaleDateString()%>"></td>
                      <td><input class="form-control text-light w-auto" type="text" name="Coupa_Num" value="<%=inv.Coupa_Num%>"></td>
                      <td><button class="delete-row btn btn-primary" type="button" data-id="<%= inv.InvoiceNum %>">X</button></td>
                  </tr>
                  <%})};%>
                </tbody>   
              </table>
              <button type="button" onclick="addInvsRow()" class="btn btn-primary">New Invoice</button>
              </div>
            </div>
            <div class="container-lg my-5">
              <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#tSheets" role="button" aria-expanded="true" aria-controls="tSheets"><h3>Timesheets</h3></button>
              <div class="collapse show" id="tSheets">
                <% 
                function getUniqueValues(arr, key) {
                    return [...new Set(arr.map(obj => obj[key]))];
                  }
                if(locals.times){
                  const uniqueSheets = getUniqueValues(times, 'SheetID');
                    uniqueSheets.forEach((sheet)=> {%>
                        <p class="collapsible active">Timesheet <%=sheet%></p>
                        <div style="display: block;">
                        <table class="table">
                        <tr>
                            <th>Consultant</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Hours</th>
                            <td><button class="delete-TS btn btn-primary" type="button" data-id="<%= sheet %>">X</button></td>
                        </tr>
                        <%locals.times.forEach((tim)=> {
                            
                            if(tim.SheetID==sheet){
                            let startTS=new Date(parseInt(tim.Start_Date));
                            let endTS=new Date(parseInt(tim.End_Date));%>
                        <tr>
                            <td><input class="form-control text-light w-auto" type="text" name="consTS" value="<%=tim.ConsultantFN+' '+tim.ConsultantLN%>"></td>
                            <td><input class="form-control text-light w-auto" type="text" name="startTS" value="<%=startTS.toLocaleDateString()%>"></td>
                            <td><input class="form-control text-light w-auto" type="text" name="endTS" value="<%=endTS.toLocaleDateString()%>"></td>
                            <td><input class="form-control text-light w-auto" type="text" name="hoursTS" value="<%=tim.Hours%>"></td>
                            <td><button class="delete-row btn btn-primary" type="button" data-id="<%= tim.ConsultantFN+' '+tim.ConsultantLN %>">X</button></td>
                        </tr>
                    <%}});%>
                    </table>
                  </div>
                <%})};%>
              
          
                <button type="button" onclick="addTimesheet()" class="btn btn-primary">New Sheet</button>
              </div>
            </div>
            <button type="submit" class="btn btn-primary"">Save</button>
            <a href="/"><button type="button" class="btn btn-primary">Exit</button></a>
          </form>
        </div>
      </div>
      <script>
        function addConsRow() {
        const table = document.getElementById("consTable").getElementsByTagName("tbody")[0];
        const newRow = table.insertRow();
        const newCell1 = newRow.insertCell();
        const newCell2 = newRow.insertCell();
        const newCell3 = newRow.insertCell();
        const newCell4 = newRow.insertCell();
        const newCell5 = newRow.insertCell();
        const newCell6 = newRow.insertCell();
        const newCell7 = newRow.insertCell();
        const newCell8 = newRow.insertCell();
        newCell1.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Consultant'>";
        newCell2.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Placement'>";
        newCell3.innerHTML = "<input class='form-control text-light w-auto' type='text' name='StartDate'>";
        newCell4.innerHTML = "<input class='form-control text-light w-auto' type='text' name='EndDate'>";
        newCell5.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Recruiter'>";
        newCell6.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Bill_Rate'>";
        newCell7.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Pay_Rate'>";

      }
      function addInvsRow() {
        const table = document.getElementById("invsTable").getElementsByTagName("tbody")[0];
        const newRow = table.insertRow();
        const newCell1 = newRow.insertCell();
        const newCell2 = newRow.insertCell();
        const newCell3 = newRow.insertCell();
        const newCell4 = newRow.insertCell();
        const newCell5 = newRow.insertCell();
        const newCell6 = newRow.insertCell();
        const newCell7 = newRow.insertCell();
        const newCell8 = newRow.insertCell();
        newCell1.innerHTML = "<input class='form-control text-light w-auto' type='text' name='InvoiceNum'>";
        newCell2.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Anticipated_Date'>";
        newCell3.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Billables'>";
        newCell4.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Expenses'>";
        newCell5.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Surplus'>";
        newCell6.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Sent_Accounting'>";
        newCell7.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Sent_Coupa'>";
        newCell8.innerHTML = "<input class='form-control text-light w-auto' type='text' name='Coupa_Num'>";
      }
      function addTimesheet() {
        const text = document.createElement("p");
        const table = document.createElement("table");
        table.classList="table";
        const div = document.getElementById("timesheets")
        const header = table.createTHead()
        var row = header.insertRow(0); 
        const hCell1 = row.insertCell();
        const hCell2 = row.insertCell();
        const hCell3 = row.insertCell();
        const hCell4 = row.insertCell();                    
        hCell1.innerHTML = " <th>Consultant</th>";
        hCell2.innerHTML = "<th>Start Date</th>";
        hCell3.innerHTML = "<th>End Date</th>";
        hCell4.innerHTML = "<th>Hours</th>";
        text.innerHTML="<p>Timesheet </p>"
        const newRow = table.insertRow();
        const newCell1 = newRow.insertCell();
        const newCell2 = newRow.insertCell();
        const newCell3 = newRow.insertCell();
        const newCell4 = newRow.insertCell();
        newCell1.innerHTML = "<input class='form-control text-light w-auto' type='text' name='consTS'>";
        newCell2.innerHTML = "<input class='form-control text-light w-auto' type='text' name='startTS'>";
        newCell3.innerHTML = "<input class='form-control text-light w-auto' type='text' name='endTS'>";
        newCell4.innerHTML = "<input class='form-control text-light w-auto' type='text' name='hoursTS'>";
        div.appendChild(text);
        div.appendChild(table);
      }
      const deleteButtons = document.querySelectorAll('.delete-row');
      console.log(deleteButtons)
      deleteButtons.forEach(button => {
      button.addEventListener('click', function() {
      const rowId = this.dataset.id;
      console.log(rowId)
      // fetch(`/delete/${rowId}`, { method: 'DELETE' })
      //   .then(response => {
      //     if (response.ok) {
          // Row successfully deleted, remove it from the DOM
          this.closest('tr').remove();
        // } else {
        //   // Handle error
        //   console.error('Error deleting row');
        // }
  //     });
});
});
const deleteButtonsTS = document.querySelectorAll('.delete-TS');
      console.log(deleteButtonsTS)
      deleteButtonsTS.forEach(button => {
      button.addEventListener('click', function() {
      const rowId = this.dataset.id;
      console.log(rowId)
      // fetch(`/delete/${rowId}`, { method: 'DELETE' })
      //   .then(response => {
      //     if (response.ok) {
          // Row successfully deleted, remove it from the DOM
          this.closest('table').remove();
        // } else {
        //   // Handle error
        //   console.error('Error deleting row');
        // }
  //     });
});
});
      </script>
    </main>
  </body>
</html>